@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.woff2") format("woff2"),
    url("../fonts/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"),
    url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Machina Plain";
  src: url("../fonts/PPNeueMachina-PlainUltrabold.woff2") format("woff2"),
    url("../fonts/PPNeueMachina-PlainUltrabold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"),
    url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*:focus {
  outline: 3px dashed #000000;
  outline-offset: 3px;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Poppins", "Arial", sans-serif;
  color: #000000;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1480px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}

/* SITE-HEADER */
.site-header {
  padding-top: 40px;
  padding-bottom: 40px;
  font-weight: 400;
  font-size: 20px;
  background-color: #fff;
}

.site-header__container {
  display: flex;
  align-items: center;
}

.site-header__logo {
  margin-right: 160px;
  text-decoration: none;
  flex-shrink: 0;
}

.site-header__logo-img {
  display: block;
  width: 155px;
  height: 45px;
  flex-shrink: 0;
}

.site-header__toggler {
  display: none;
}

/* SITENAV */
.site-header__sitenav {
  margin-right: 100px;
}

.sitenav__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.sitenav__item:not(:last-child) {
  margin-right: 40px;
}

.sitenav__link {
  text-decoration: none;
  color: #000000;
  white-space: nowrap;
  display: block;
}

.sitenav__link:hover {
  opacity: 0.8;
}

.sitenav__link:active {
  opacity: 0.6;
}

.arrow-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 1px solid #000000;
  white-space: nowrap;
  padding: 13px 20px;
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  border-radius: 8px;
  transition: background-color 0.4s ease,
    color 0.4s ease;
}

.arrow-button:hover {
  background-color: #000000;
  color: #fff;
}

.arrow-button__inner {
  margin-right: 10px;
}

.site-header__cta {
  margin-left: auto;
}


/* RESPONSIVNESS */
@media only screen and (max-width: 1300px) {
  .site-header__logo,
  .site-header__sitenav {
    margin-right: 60px;
  }
}

@media only screen and (max-width: 1180px) {
  .site-header {
    font-size: 18px;
  }

  .sitenav__item:not(:last-child) {
    margin-right: 25px;
  }
}

@media only screen and (max-width: 1000px) {
  .site-header {
    position: relative;
    z-index: 99;
  }
  .site-header__container {
    align-items: stretch;
  }

  .site-header__sitenav {
    display: none;
  }

  .site-header__sitenav--open {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #fff;
    margin-right: 0;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
  }

  .site-header__toggler {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 8px;
    cursor: pointer;
    padding: 8px 16px;
    margin-left: 30px;
  }

  .site-header__toggler-icon {
    min-width: 24px;
  }

  .sitenav__list {
    flex-direction: column;
  }

  .sitenav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .sitenav__link {
    text-align: right;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .site-header {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .site-header__cta-arrow {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .site-header__logo {
    margin-right: auto;
  }
  
  .site-header__cta {
    position: fixed;
    z-index: 10;
    left: 20px;
    right: 20px;
    bottom: 20px;
  }

  .arrow-button {
    display: flex;
    justify-content: center;
  }
  
  .site-header__cta-arrow {
    display: block;
  }
  
}